body {
    font-family: 'Winky Rough', cursive;
    background-image: url("./assets/background-im.png");
}

a {
  font-family: 'Winky Rough', cursive;
  text-decoration: none;
  color: white;
}

a:active,
a:hover {
  color: #d3b97e;
  text-decoration: none;
}

button a:hover {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}