.button {
    background-color: #272728;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500; /* Cambié a un valor válido */
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
  }
  
  .button:hover {
    background-color: #3c3c3d;
    transform: translateY(-5px);
  }
  
  .button:active {
    transform: scale(0.98);
  }
  
  .button:disabled {
    background-color: #a5b4fc; /* Indigo-300 */
    cursor: not-allowed;
  }
  
  .button.small {
    font-size: 12px;
    width: 50px;  /* Tamaño fijo */
    height: 30px; /* Tamaño fijo */
  }
  
  .button.medium {
    font-size: 16px;
    width: 150px; /* Tamaño fijo */
    height: 50px; /* Tamaño fijo */
  }
  
  .button.large {
    font-size: 20px;
    width: 200px;  /* Tamaño fijo */
    height: 70px;  /* Tamaño fijo */
  }
  