.form {
    display: flex;
  flex-direction: column;
  align-items: center;  /* Alinea todos los elementos (inputs y botón) al centro */
  justify-content: center; /* Asegura que los elementos estén centrados verticalmente */
  gap: 1rem; /* Espacio entre los elementos */
  width: 100%; /* O el tamaño deseado */
  }