# Node modules
node_modules/

#backend-node-modules
./Byn-backend/byn-backend/node_modules/
#backend package.json
./Byn-backend/byn-backend/package.json
#backend package.json.lock
./Byn-backend/byn-backend/package.json.lock


# Frontend node modules
./Byn-frontend/byn-frontend/node_modules/
#frontend package.json
./Byn-frontend/byn-frontend/package.json
#frontend package.json.lock
./Byn-frontend/byn-frontend/package.json.lock

#package.json
package.json
package.json.lock
package.json.lock.json
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build
dist/
build/
tmp/
temp/

# Dependency directories
jspm_packages/


# Sistemas operativos
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

# PM2 runtime files
pids/
*.pid
*.seed

# Others
*.tgz
*.gz
*.zip

# TypeScript
*.tsbuildinfo

