.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .inputText {
    width: 90%;
    padding: 15px;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
    color: #333;
  }
  
  .label {
    font-size: 20px;
    color: #fff; /* o usa #333 si el fondo es claro */
  }
  